In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [20]:
qb_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=QB&yr=2020&wk=all&rules=1'
qb2020_df = pd.read_html(qb_url)[0]

qb_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=QB&yr=2019&wk=all&rules=1'
qb2019_df = pd.read_html(qb_url)[0]

qb_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=QB&yr=2018&wk=all&rules=1'
qb2018_df = pd.read_html(qb_url)[0]

qb_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=QB&yr=2017&wk=all&rules=1'
qb2017_df = pd.read_html(qb_url)[0]

qb_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=QB&yr=2016&wk=all&rules=1'
qb2016_df = pd.read_html(qb_url)[0]

qb_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=QB&yr=2015&wk=all&rules=1'
qb2015_df = pd.read_html(qb_url)[0]

qb_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=QB&yr=2014&wk=all&rules=1'
qb2014_df = pd.read_html(qb_url)[0]

qb_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=QB&yr=2013&wk=all&rules=1'
qb2013_df = pd.read_html(qb_url)[0]

qb_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=QB&yr=2012&wk=all&rules=1'
qb2012_df = pd.read_html(qb_url)[0]

In [21]:
rb_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=RB&yr=2020&wk=all&rules=1'
rb2020_df = pd.read_html(rb_url)[0]

rb_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=RB&yr=2019&wk=all&rules=1'
rb2019_df = pd.read_html(rb_url)[0]

rb_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=RB&yr=2018&wk=all&rules=1'
rb2018_df = pd.read_html(rb_url)[0]

rb_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=RB&yr=2017&wk=all&rules=1'
rb2017_df = pd.read_html(rb_url)[0]

rb_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=RB&yr=2016&wk=all&rules=1'
rb2016_df = pd.read_html(rb_url)[0]

rb_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=RB&yr=2015&wk=all&rules=1'
rb2015_df = pd.read_html(rb_url)[0]

rb_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=RB&yr=2014&wk=all&rules=1'
rb2014_df = pd.read_html(rb_url)[0]

rb_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=RB&yr=2013&wk=all&rules=1'
rb2013_df = pd.read_html(rb_url)[0]

rb_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=RB&yr=2012&wk=all&rules=1'
rb2012_df = pd.read_html(rb_url)[0]

In [22]:
wr_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=WR&yr=2020&wk=all&rules=1'
wr2020_df = pd.read_html(wr_url)[0]

wr_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=WR&yr=2019&wk=all&rules=1'
wr2019_df = pd.read_html(wr_url)[0]

wr_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=WR&yr=2018&wk=all&rules=1'
wr2018_df = pd.read_html(wr_url)[0]

wr_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=WR&yr=2017&wk=all&rules=1'
wr2017_df = pd.read_html(wr_url)[0]

wr_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=WR&yr=2016&wk=all&rules=1'
wr2016_df = pd.read_html(wr_url)[0]

wr_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=WR&yr=2015&wk=all&rules=1'
wr2015_df = pd.read_html(wr_url)[0]

wr_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=WR&yr=2014&wk=all&rules=1'
wr2014_df = pd.read_html(wr_url)[0]

wr_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=WR&yr=2013&wk=all&rules=1'
wr2013_df = pd.read_html(wr_url)[0]

wr_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=WR&yr=2012&wk=all&rules=1'
wr2012_df = pd.read_html(wr_url)[0]

In [23]:
te_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=TE&yr=2020&wk=all&rules=1'
te2020_df = pd.read_html(te_url)[0]

te_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=TE&yr=2019&wk=all&rules=1'
te2019_df = pd.read_html(te_url)[0]

te_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=TE&yr=2018&wk=all&rules=1'
te2018_df = pd.read_html(te_url)[0]

te_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=TE&yr=2017&wk=all&rules=1'
te2017_df = pd.read_html(te_url)[0]

te_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=TE&yr=2016&wk=all&rules=1'
te2016_df = pd.read_html(te_url)[0]

te_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=TE&yr=2015&wk=all&rules=1'
te2015_df = pd.read_html(te_url)[0]

te_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=TE&yr=2014&wk=all&rules=1'
te2014_df = pd.read_html(te_url)[0]

te_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=TE&yr=2013&wk=all&rules=1'
te2013_df = pd.read_html(te_url)[0]

te_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=TE&yr=2012&wk=all&rules=1'
te2012_df = pd.read_html(te_url)[0]

In [24]:
# First get all the unique players
def add_names_and_positions(names, positions, dfs, position):
    initial_names = []
    for df in dfs:
        initial_names.append(df['Unnamed: 0_level_0']['Player'].tolist())
    new_names = {x for l in initial_names for x in l}
    
    for name in new_names:
        index_period = name.rindex(".")
        names.append(name[0:index_period - 1])
        positions.append(position)

names = []
positions = []
add_names_and_positions(names, positions, [qb2020_df, qb2019_df, qb2018_df, qb2017_df, qb2016_df, qb2015_df, qb2014_df, qb2013_df, qb2012_df], "QB")
add_names_and_positions(names, positions, [rb2020_df, rb2019_df, rb2018_df, rb2017_df, rb2016_df, rb2015_df, rb2014_df, rb2013_df, rb2012_df], "RB")
add_names_and_positions(names, positions, [wr2020_df, wr2019_df, wr2018_df, wr2017_df, wr2016_df, wr2015_df, wr2014_df, wr2013_df, wr2012_df], "WR")
add_names_and_positions(names, positions, [te2020_df, te2019_df, te2018_df, te2017_df, te2016_df, te2015_df, te2014_df, te2013_df, te2012_df], "TE")
player_ids = range(len(names))
player_teams = [''] * len(names)
age = [-1] * len(names)

player_df = pd.DataFrame({
    'playerId': player_ids,
    'name': names,
    'nflTeamName': player_teams,
    'position': positions,
    'age': age
})
player_df.to_csv("./players.csv", index=False)
player_df

      playerId               name nflTeamName position  age
0            0   Matthew Stafford                   QB   -1
1            1       Mark Sanchez                   QB   -1
2            2        Ryan Nassib                   QB   -1
3            3        Josh McCown                   QB   -1
4            4          Tony Romo                   QB   -1
...        ...                ...         ...      ...  ...
1067      1067  Crockett Gillmore                   TE   -1
1068      1068    Andrew Quarless                   TE   -1
1069      1069      Tommy Sweeney                   TE   -1
1070      1070      John Phillips                   TE   -1
1071      1071      Cole Hikutini                   TE   -1

[1072 rows x 5 columns]

In [66]:
qb2020_df

           Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Passing  \
                       Player                Bye               Pts*     Att
0     Aaron RodgersA. Rodgers                  5              468.0     526
1          Josh AllenJ. Allen                 11              460.0     572
2   Patrick MahomesP. Mahomes                 10              439.0     588
3     Russell WilsonR. Wilson                  6              428.0     558
4     Deshaun WatsonD. Watson                  8              421.0     544
..                        ...                ...                ...     ...
76   A.J. McCarronA. McCarron                  8                0.0       1
77          Tyler BrayT. Bray                 11                0.0       5
78          Tim BoyleT. Boyle                  5                0.0       0
79      David BloughD. Blough                  5                0.0      10
80     Nate SudfeldN. Sudfeld                  9               -1.0      12

                          Rushing             Receiving            Fumbles
    Cmp   Yds  TD Int 2Pt     Att  Yds TD 2Pt       Rec Yds TD 2Pt      FL TD
0   372  4299  48   5   0      38  149  3   0         1  -6  0   0       2  0
1   396  4544  37  10   0     102  421  8   0         1  12  1   0       6  0
2   390  4740  38   6   3      62  308  2   0         0   0  0   0       2  0
3   384  4212  40  13   1      83  513  2   0         0   0  0   0       4  0
4   382  4823  33   7   1      90  444  3   0         0   0  0   0       3  0
..  ...   ...  ..  ..  ..     ...  ... ..  ..       ...  .. ..  ..     ... ..
76    1    20   0   0   0       0    0  0   0         0   0  0   0       0  0
77    1    18   0   0   0       0    0  0   0         0   0  0   0       0  0
78    0     0   0   0   0      13   -9  0   0         0   0  0   0       0  0
79    6    49   0   1   0       1   18  0   0         0   0  0   0       0  0
80    5    32   0   1   0       2   12  0   0         0   0  0   0       1  0

[81 rows x 19 columns]

In [27]:
def process_seasons(dfs, year, years, p_ids, passing_yards, passing_tds, interceptions, rushing_yards, rushing_touchdowns, receiving_yards, receiving_touchdowns, fumbles, receptions):
    for df in dfs:
        for index, row in df.iterrows():
            years.append(year)
            
            # Get the player id
            name = row['Unnamed: 0_level_0']['Player']
            index_period = name.rindex(".")
            name = name[0:index_period - 1]
            p_ids.append(player_ids[names.index(name)])

            # Pipe in the rest of the columns
            passing_yards.append(row['Passing']['Yds'])
            passing_tds.append(row['Passing']['TD'])
            interceptions.append(row['Passing']['Int']) 
            
            rushing_yards.append(row['Rushing']['Yds'])
            rushing_touchdowns.append(row['Rushing']['TD'])
            
            receiving_yards.append(row['Receiving']['Yds'])
            receiving_touchdowns.append(row['Receiving']['TD'])
            receptions.append(row['Receiving']['Rec'])
            
            fumbles.append(row['Fumbles']['FL'])


p_ids = []
passing_yards = []
passing_tds = []
interceptions = []
rushing_yards = []
rushing_touchdowns = []
receiving_yards = []
receiving_touchdowns = []
fumbles = []
receptions = []
years = []

dfs_2020 = [qb2020_df, rb2020_df, wr2020_df, te2020_df]
dfs_2019 = [qb2019_df, rb2019_df, wr2019_df, te2019_df,]
dfs_2018 = [qb2018_df, rb2018_df, wr2018_df, te2018_df]
dfs_2017 = [qb2017_df, rb2017_df, wr2017_df, te2017_df]
dfs_2016 = [qb2016_df, rb2016_df, wr2016_df, te2016_df]
dfs_2015 = [qb2015_df, rb2015_df, wr2015_df, te2015_df]
dfs_2014 = [qb2014_df, rb2014_df, wr2014_df, te2014_df]
dfs_2013 = [qb2013_df, rb2013_df, wr2013_df, te2013_df]
dfs_2012 = [qb2012_df, rb2012_df, wr2012_df, te2012_df]

process_seasons(dfs_2020, 2020, years, p_ids, passing_yards, passing_tds, interceptions, rushing_yards, rushing_touchdowns, receiving_yards, receiving_touchdowns, fumbles, receptions)
process_seasons(dfs_2019, 2019, years, p_ids, passing_yards, passing_tds, interceptions, rushing_yards, rushing_touchdowns, receiving_yards, receiving_touchdowns, fumbles, receptions)
process_seasons(dfs_2018, 2018, years, p_ids, passing_yards, passing_tds, interceptions, rushing_yards, rushing_touchdowns, receiving_yards, receiving_touchdowns, fumbles, receptions)
process_seasons(dfs_2017, 2017, years, p_ids, passing_yards, passing_tds, interceptions, rushing_yards, rushing_touchdowns, receiving_yards, receiving_touchdowns, fumbles, receptions)
process_seasons(dfs_2016, 2016, years, p_ids, passing_yards, passing_tds, interceptions, rushing_yards, rushing_touchdowns, receiving_yards, receiving_touchdowns, fumbles, receptions)
process_seasons(dfs_2015, 2015, years, p_ids, passing_yards, passing_tds, interceptions, rushing_yards, rushing_touchdowns, receiving_yards, receiving_touchdowns, fumbles, receptions)
process_seasons(dfs_2014, 2014, years, p_ids, passing_yards, passing_tds, interceptions, rushing_yards, rushing_touchdowns, receiving_yards, receiving_touchdowns, fumbles, receptions)
process_seasons(dfs_2013, 2013, years, p_ids, passing_yards, passing_tds, interceptions, rushing_yards, rushing_touchdowns, receiving_yards, receiving_touchdowns, fumbles, receptions)
process_seasons(dfs_2012, 2012, years, p_ids, passing_yards, passing_tds, interceptions, rushing_yards, rushing_touchdowns, receiving_yards, receiving_touchdowns, fumbles, receptions)


season_df = pd.DataFrame({
    'seasonId': range(len(p_ids)),
    'playerId': p_ids,
    'passingYards': passing_yards,
    'passingTouchdowns': passing_tds,
    'interceptions': interceptions,
    'rushingYards': rushing_yards,
    'fumbles': fumbles,
    'receptions': receptions,
    'receivingTouchdowns': receiving_touchdowns,
    'receivingYards': receiving_yards,
    'rushingTouchdowns': rushing_touchdowns,
    'year': years
})
season_df.to_csv("./seasons.csv", index=False)

In [28]:
season_df

,seasonId,playerId,passingYards,passingTouchdowns,interceptions,rushingYards,fumbles,receptions,receivingTouchdowns,receivingYards,rushingTouchdowns,year
0,0,60,4299,48,5,149,2,1,0,-6,3,2020
1,1,17,4544,37,10,421,6,1,1,12,8,2020
2,2,124,4740,38,6,308,2,0,0,0,2,2020
3,3,97,4212,40,13,513,4,0,0,0,2,2020
4,4,56,4823,33,7,444,3,0,0,0,3,2020
...,...,...,...,...,...,...,...,...,...,...,...,...
3349,3349,868,0,0,0,0,0,1,0,8,0,2012
3350,3350,814,0,0,0,0,0,1,0,-3,0,2012
3351,3351,1031,0,0,0,0,0,1,0,7,0,2012
3352,3352,815,0,0,0,0,0,1,0,8,0,2012
3353,3353,996,0,0,0,0,1,1,0,9,0,2012