In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [19]:
qb_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=QB&yr=2020&wk=all&rules=1'
qb2020_df = pd.read_html(qb_url)[0]

qb_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=QB&yr=2019&wk=all&rules=1'
qb2019_df = pd.read_html(qb_url)[0]

qb_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=QB&yr=2018&wk=all&rules=1'
qb2018_df = pd.read_html(qb_url)[0]

In [20]:
rb_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=RB&yr=2020&wk=all&rules=1'
rb2020_df = pd.read_html(rb_url)[0]

rb_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=RB&yr=2019&wk=all&rules=1'
rb2019_df = pd.read_html(rb_url)[0]

rb_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=RB&yr=2018&wk=all&rules=1'
rb2018_df = pd.read_html(rb_url)[0]

In [35]:
wr_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=WR&yr=2020&wk=all&rules=1'
wr2020_df = pd.read_html(wr_url)[0]

wr_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=WR&yr=2019&wk=all&rules=1'
wr2019_df = pd.read_html(wr_url)[0]

wr_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=WR&yr=2018&wk=all&rules=1'
wr2018_df = pd.read_html(wr_url)[0]

In [36]:
te_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=TE&yr=2020&wk=all&rules=1'
te2020_df = pd.read_html(te_url)[0]

te_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=TE&yr=2019&wk=all&rules=1'
te2019_df = pd.read_html(te_url)[0]

te_url = 'https://www.footballdb.com/fantasy-football/index.html?pos=TE&yr=2018&wk=all&rules=1'
te2018_df = pd.read_html(te_url)[0]

In [75]:
# First get all the unique players
def add_names_and_positions(names, positions, dfs, position):
    initial_names = []
    for df in dfs:
        initial_names.append(df['Unnamed: 0_level_0']['Player'].tolist())
    new_names = {x for l in initial_names for x in l}
    
    for name in new_names:
        index_period = name.rindex(".")
        names.append(name[0:index_period - 1])
        positions.append(position)

names = []
positions = []
add_names_and_positions(names, positions, [qb2020_df, qb2019_df, qb2018_df], "QB")
add_names_and_positions(names, positions, [rb2020_df, rb2019_df, rb2018_df], "RB")
add_names_and_positions(names, positions, [wr2020_df, wr2019_df, wr2018_df], "WR")
add_names_and_positions(names, positions, [te2020_df, te2019_df, te2018_df], "TE")
player_ids = range(len(names))
player_teams = [''] * len(names)
age = [-1] * len(names)

player_df = pd.DataFrame({
    'playerId': player_ids,
    'name': names,
    'nflTeamName': player_teams,
    'position': positions,
    'age': age
})
player_df.to_csv("./players.csv", index=False)
player_df

     playerId             name nflTeamName position  age
0           0  Gardner Minshew                   QB   -1
1           1   Marcus Mariota                   QB   -1
2           2    Aaron Rodgers                   QB   -1
3           3    C.J. Beathard                   QB   -1
4           4    Devlin Hodges                   QB   -1
..        ...              ...         ...      ...  ...
565       565    Jaeden Graham                   TE   -1
566       566        Ryan Izzo                   TE   -1
567       567      Taysom Hill                   TE   -1
568       568     Daniel Brown                   TE   -1
569       569    Pharaoh Brown                   TE   -1

[570 rows x 5 columns]

In [66]:
qb2020_df

           Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Passing  \
                       Player                Bye               Pts*     Att
0     Aaron RodgersA. Rodgers                  5              468.0     526
1          Josh AllenJ. Allen                 11              460.0     572
2   Patrick MahomesP. Mahomes                 10              439.0     588
3     Russell WilsonR. Wilson                  6              428.0     558
4     Deshaun WatsonD. Watson                  8              421.0     544
..                        ...                ...                ...     ...
76   A.J. McCarronA. McCarron                  8                0.0       1
77          Tyler BrayT. Bray                 11                0.0       5
78          Tim BoyleT. Boyle                  5                0.0       0
79      David BloughD. Blough                  5                0.0      10
80     Nate SudfeldN. Sudfeld                  9               -1.0      12

                          Rushing             Receiving            Fumbles
    Cmp   Yds  TD Int 2Pt     Att  Yds TD 2Pt       Rec Yds TD 2Pt      FL TD
0   372  4299  48   5   0      38  149  3   0         1  -6  0   0       2  0
1   396  4544  37  10   0     102  421  8   0         1  12  1   0       6  0
2   390  4740  38   6   3      62  308  2   0         0   0  0   0       2  0
3   384  4212  40  13   1      83  513  2   0         0   0  0   0       4  0
4   382  4823  33   7   1      90  444  3   0         0   0  0   0       3  0
..  ...   ...  ..  ..  ..     ...  ... ..  ..       ...  .. ..  ..     ... ..
76    1    20   0   0   0       0    0  0   0         0   0  0   0       0  0
77    1    18   0   0   0       0    0  0   0         0   0  0   0       0  0
78    0     0   0   0   0      13   -9  0   0         0   0  0   0       0  0
79    6    49   0   1   0       1   18  0   0         0   0  0   0       0  0
80    5    32   0   1   0       2   12  0   0         0   0  0   0       1  0

[81 rows x 19 columns]

In [74]:
def process_seasons(dfs, year, years, p_ids, passing_yards, passing_tds, interceptions, rushing_yards, rushing_touchdowns, receiving_yards, receiving_touchdowns, fumbles, receptions):
    for df in dfs:
        for index, row in df.iterrows():
            years.append(year)
            
            # Get the player id
            name = row['Unnamed: 0_level_0']['Player']
            index_period = name.rindex(".")
            name = name[0:index_period - 1]
            p_ids.append(player_ids[names.index(name)])

            # Pipe in the rest of the columns
            passing_yards.append(row['Passing']['Yds'])
            passing_tds.append(row['Passing']['TD'])
            interceptions.append(row['Passing']['Int']) 
            
            rushing_yards.append(row['Rushing']['Yds'])
            rushing_touchdowns.append(row['Rushing']['TD'])
            
            receiving_yards.append(row['Receiving']['Yds'])
            receiving_touchdowns.append(row['Receiving']['TD'])
            receptions.append(row['Receiving']['Rec'])
            
            fumbles.append(row['Fumbles']['FL'])


p_ids = []
passing_yards = []
passing_tds = []
interceptions = []
rushing_yards = []
rushing_touchdowns = []
receiving_yards = []
receiving_touchdowns = []
fumbles = []
receptions = []
years = []

dfs_2020 = [qb2020_df, rb2020_df, wr2020_df, te2020_df]
dfs_2019 = [qb2019_df, rb2019_df, wr2019_df, te2019_df,]
dfs_2018 = [qb2018_df, rb2018_df, wr2018_df, te2018_df]
process_seasons(dfs_2020, 2020, years, p_ids, passing_yards, passing_tds, interceptions, rushing_yards, rushing_touchdowns, receiving_yards, receiving_touchdowns, fumbles, receptions)
process_seasons(dfs_2019, 2019, years, p_ids, passing_yards, passing_tds, interceptions, rushing_yards, rushing_touchdowns, receiving_yards, receiving_touchdowns, fumbles, receptions)
process_seasons(dfs_2018, 2018, years, p_ids, passing_yards, passing_tds, interceptions, rushing_yards, rushing_touchdowns, receiving_yards, receiving_touchdowns, fumbles, receptions)

season_df = pd.DataFrame({
    'seasonId': range(len(p_ids)),
    'playerId': p_ids,
    'passingYards': passing_yards,
    'passingTouchdowns': passing_tds,
    'interceptions': interceptions,
    'rushingYards': rushing_yards,
    'fumbles': fumbles,
    'receptions': receptions,
    'receivingTouchdowns': receiving_touchdowns,
    'receivingYards': receiving_yards,
    'rushingTouchdowns': rushing_touchdowns,
    'year': years
})
season_df.to_csv("./seasons.csv", index=False)